@using AuStr = SistemaAC.UserStrings.AuthStrings

@{
    ViewData["Title"] = AuStr.AcDenTitle;
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@AuStr.AcDenDesc</p>
</header>
